<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465687578561-0lebl148e52piam6a7udv550so63dage.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465687578561-0lebl148e52piam6a7udv550so63dage</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyalSG1WLxD4ZOFiYx2A-V1idG6eB_mo</string>
	<key>GCM_SENDER_ID</key>
	<string>465687578561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.appleonegroup.almate</string>
	<key>PROJECT_ID</key>
	<string>almate-applegroup1</string>
	<key>STORAGE_BUCKET</key>
	<string>almate-applegroup1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465687578561:ios:9cef66d45a3aeb66689140</string>
	<key>DATABASE_URL</key>
	<string>https://almate-applegroup1.firebaseio.com</string>
</dict>
</plist>